header{
    color:brown;
    text-align: center;
    text-shadow: 3px 2px 3px lightsalmon;
}
form{
    color:chartreuse;
    font-size: 40px;
    text-shadow: 3px 2px 3px green;
    text-align: center;
}
footer{
    text-align: center;
    text-shadow: 3px 2px 3px gray;
    word-spacing: 10;
    text-transform: uppercase;
}
body{
    background-color: lightsalmon;
}
